html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

html {
  box-sizing: border-box;
  font-size: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

  body{
    margin: 0;
    padding: 0;
  }
  h1{
    font-family: monospace;
    font-size: 2em;
    color: #C3DF4E;
  }

  .container {
    width: 100%;
    max-width: 595px;
    margin-right: auto;
    margin-left: auto;
  }

  .header{
    margin-top: 21px;
  }
  .header h1{
    float: left;
    margin: 0;
  }

  .header .date {
    font-family: sans-serif;
    color: rgb(39, 180, 161);
    float: right;
    margin-top: 8px;
  }

  .vehicle {
    position: relative;
    font-family: sans-serif;
    margin-bottom: 1rem 0;
  }

  .vehicle .head{
    width: 100%;
    position: relative;
  }

  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .vehicle .head .name {
    width: 30%;
    float: left;
    line-height: 118px;
    font-family: monospace;
    font-size: 2em;
    color: #65A29A;
  }

  .vehicle .head .stats{
    float: right;
    width: 70%
  }
  .vehicle img{
    max-width: 100%;
    margin-top: 1rem;
  }

  hr.top {
    background-color: #4A581E;
    height: 10px;
    border: 0px;
  }

  /* text styles */
  .bold {
    font-weight: bold;
  }

  .secondary {
    color: #455181;
  }

  a.link {
    font-size: 0.7em;
    color: #65A29A;
  }
